
    {% extends 'base.html' %}
    {% import 'macros.html' as macros %} 

    {% block tittle %}
        {{ super()}}
        Bienvenido
    {% endblock %}

    {% block content %}

        {% if user_ip %}
            <h1   h1>Hello World Platzi !, tu IP es {{ user_ip }}</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam illum qui, ipsa labore dignissimos accusamus animi dolores perferendis facilis! Assumenda pariatur sed, optio architecto magni in molestias porro est voluptas?</p>
        {% else %}
            <a href="{{ url_for('index') }}"></a>
        {% endif %}

        <ul>
            {% for todo in todos %}
                {{ macros.render_todo(todo) }}
            {% endfor %}
        </ul>
    {% endblock %}