
    {% extends 'base.html' %}
    {% import 'macros.html' as macros %}
    {% import 'bootstrap/wtf.html' as wtf %}

    {% block tittle %}
        {{ super()}}
        Bienvenido
    {% endblock %}

    {% block content %}

        {% if user_ip %}
            <h1   h1>Hello World Platzi !, tu IP es {{ user_ip }}</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam illum qui, ipsa labore dignissimos accusamus animi dolores perferendis facilis! Assumenda pariatur sed, optio architecto magni in molestias porro est voluptas?</p>
        {% else %}
            <a href="{{ url_for('index') }}"></a>
        {% endif %}

        <div class="container">
            <!-- <form action="{{ url_for('hello')}}" method="POST">
                {{ login_form.username }}
                {{ login_form.username.label }}
            </form> -->
            {{ wtf.quick_form(login_form) }}
        </div>

        <ul>
            {% for todo in todos %}
                {{ macros.render_todo(todo) }}
            {% endfor %}
        </ul>
    {% endblock %}